
    <div class="row ">
      
        {{ title }}
        <!-- {{ title }}
        <form  #contactForm='ngForm' (ngSubmit)="onSubmit(contactForm.value)">
        {{ contactForm.value | json }}<br>
          <mat-form-field appearance="fill" >
              <mat-label  >Input</mat-label>
              <input matInput id='input1' name='name' ngModel >
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label  >Password</mat-label>
            <input matInput type='password' id='input12' name='password' ngModel >
          </mat-form-field>
          
          

          <mat-form-field appearance="fill">
            <mat-label >Select</mat-label>
            <mat-select name='select'  ngModel>
              <mat-option  *ngFor='let d of data'  [value]='d'  >{{ d }}</mat-option>
                
            </mat-select>
          </mat-form-field>
          
          <mat-form-field appearance="fill">
            <mat-label >Textarea</mat-label>
            <textarea matInput name='message' ngModel></textarea>

          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label >Email</mat-label>
            <input type="email" matInput name='message' ngModel>

          </mat-form-field>
          
          <div>
            <button mat-raised-button type="submit"  color="primary"  >Submit</button>
          </div>
        </form>
          
 -->

        
      
    </div>

