<!-- Button trigger modal -->
<div class="container-fluid">
  <div class="row ">
    <div class="col-md-3" style="border: grey solid 2px;height: 700px;">
      <app-home ></app-home>
    </div>
    <div class="col-md-6 text-center" style="border: grey solid 2px;height: 700px;">
      <app-contact></app-contact>
    </div>
    <div class="col-md-3" style="border: grey solid 2px;height: 700px;">
      <app-data (afterClick)='alertmsg = $event'></app-data>
    </div>

    
  </div>
</div>
<router-outlet></router-outlet>