
<div class="container">
    <div class="row">
        <p>{{ title }}</p>
        <h2>This is my home component</h2>
        <button mat-raised-button (click)="openDialog()" >Launch dialog</button>
        <!-- <div >
            <div [event]='listData' *ngFor='let data of listData' (click)="onClick(event)" >
                <button mat-raised-button>ID: {{ data.id}}</button>
            </div>
        </div> -->
        <!-- <app-data [listData]='listData' ></app-data> -->
        

        
       


        
    </div>
</div>